<a href="https://colab.research.google.com/github/RavindraMohite2411/Gen-AI-Traning/blob/main/Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
st = ' Sam print the words that start with s in this sentense'
#st = 'print the words that start with s'for,split() and if

In [10]:
st.split()

['Sam',
 'print',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentense']

In [11]:
st

' Sam print the words that start with s in this sentense'

In [12]:
for word in st.split():
  print(word)

Sam
print
the
words
that
start
with
s
in
this
sentense

In [13]:
for word in st.split():
  if word[0] == 's':
      print(word)

start
s
sentense

In [14]:
#compare lowercase
for word in st.split():
  if word[0].lower() == 's':
      print(word)

Sam
start
s
sentense

In [16]:
for word in st.split():
  if word[0].lower() == 's' or word[0]=='S':
      print(word)

Sam
start
s
sentense

In [17]:
#use range() to print all the even numbers from 0 to 10 (step size:2)
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [18]:
for num in range(0,11,2):
  print(num)

0
2
4
6
8
10

In [19]:
#use a list Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [20]:
#print even no of letters
st = "Print every word in this sentense that has an even number"

In [21]:
for word in st.split():
    if len(word) % 2 == 0:
        print(word+ ' is even')

word is even
in is even
this is even
sentense is even
that is even
an is even
even is even
number is even

In [22]:
#write a program that prints the integers from 1 to 100. but for multiple of three print "Fizz" instead of the number,
#and multiples of five print "Buzz" for numbers which are multiple of both three and five print "FizzBuzz"
for num in range(1,101):
    if num%3 == 0 and num % 5 == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Bizz')
    else:
        print(num)

1
2
Fizz
4
Bizz
Fizz
7
8
Fizz
Bizz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Bizz
Fizz
22
23
Fizz
Bizz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Bizz
Fizz
37
38
Fizz
Bizz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Bizz
Fizz
52
53
Fizz
Bizz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Bizz
Fizz
67
68
Fizz
Bizz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Bizz
Fizz
82
83
Fizz
Bizz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Bizz
Fizz
97
98
Fizz
Bizz

In [23]:
st = 'Create a list of the first letters of every word in this string'

In [24]:
[word for word in st.split()]

['Create',
 'a',
 'list',
 'of',
 'the',
 'first',
 'letters',
 'of',
 'every',
 'word',
 'in',
 'this',
 'string']

In [25]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']